<div id = "new_cocktail" class = "container mt-5">
  <%= simple_form_for(@cocktail) do |c| %>
    <%= c.input :name, placeholder: "Insert the name for your cocktail" %>
    <%= c.input :photo , as: :file%>
    <%= c.submit class:"btn btn-info"%>
  <% end %>
</div>