// Specific CSS for your home-page
$text: rgb(0, 0, 0) ;
body{
  margin: 0px;
  padding: 0px;
  // background-color: rgb(240, 204, 211);
  background-size: cover;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: larger;
}
html{
  margin: 0px;
  padding: 0px;
}
.home{
  width: 100vw;
  height: 85vh;
  background-image: asset-url('landing_page.jpg');
  background-size: contain;
}
.titles{
  color:white;
  font-weight: bolder;
  
}

.nav{
  text-decoration: none;
}

.cocktail{
  font-weight: bold;
}
.cocktails-list{
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: space-around;
}
.card{
  background-color:transparentize($color: rgb(124, 122, 122), $amount: 0.7);
  border: solid 1px;
  color: $text;
  border-radius: $border-radius-sm;
}

.search{
  width: 300px;
  margin: auto;
}

.recipe{
  display: inline-block;
  margin:auto;
  width:388;
}
.new_dose{
  width: 300px;
}





