// Specific CSS for your home-page
$text: rgb(0, 0, 0) ;
body{
  background-color: rgb(240, 204, 211);;
  background-size: cover;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: larger;
}
.nav{
  text-decoration: none;
}

.cocktail{
  font-weight: bold;
}
.cocktails-list{
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: space-around;
}
.card{
  background-color:transparentize($color: rgb(124, 122, 122), $amount: 0.7);
  border: solid 1px;
  color: $text;
  border-radius: $border-radius-sm;
}

.search{
  width: 300px;
  margin: auto;
}

.recipe{
  display: inline-block;
  margin:auto;
  width:388;
}
.new_dose{
  width: 300px;
}
// #new_cocktail{
//   width: 300px;
//   background-color: white;
// }




