<div class="container mt-5">
    <%= simple_form_for([@cocktail, Order.new]) do |f| %>
      <%= f.input :table_number, label: false, placeholder: "Add the number of your table" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
</div>